/* Styles pour la page d'accueil */
body {
    margin: 0;
    padding: 0;
}



h1 {
    color: #bd1818;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
}

#description {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555555;
}

#description p {
    margin-bottom: 10px;
}



.header {
    margin: 0px;
    width: 100%;
    height: 450px;
    background-color: #f7efe5;
    background-image: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%; /* logo grand, mais propre */
    
}

